{% extends "base.html" %}

{% block title %}管理论坛{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript">
        var addRole = function () {
            $('#id-button-create-role').on('click', function () {
                console.log('点击增加角色');
                var name = $('#id-text-role-name').val();
                console.log('新角色名字: ', name);
                var data = {
                    name: name,
                };
                postData = JSON.stringify(data);
                console.log('postdata: ', postData);
                $.ajax({
                    url: '/role/add',
                    type: 'POST',
                    data: postData,
                    contentType: 'application/json',
                    success: function (d) {
                        r = JSON.parse(d);
                        console.log('add role返回数据: ', r);

                    }
                });
            });
        };

        var addChannel = function () {
            $('#id-button-create-channel').on('click', function () {
                console.log('点击增加频道');
                var name = $('#id-text-channel-name').val();
                console.log('新频道名字: ', name);
                var data = {
                    name: name,
                };
                postData = JSON.stringify(data);
                console.log('postdata: ', postData);
                $.ajax({
                    url: '/channel/add',
                    type: 'POST',
                    data: postData,
                    contentType: 'application/json',
                    success: function (d) {
                        r = JSON.parse(d);
                        console.log('add channel返回数据: ', r);
                    }
                });
            });
        };

        var checkRoles = function () {
            $('#id-button-role-for-channel').on('click', function () {
                var optionList = [];
                var roleOptions = $('.choose_role');
                $.each(roleOptions, function (i, v) {
                    console.log('type v:', typeof v);
                    console.log('v', v);
                    console.log('$(v)', $(v));
                    checkStatus = $(v).is(':checked');
                    optionDict = {
                        channel_id: v.name,
                        role_id: v.value,
                        checked_status: checkStatus,
                    };
                    optionList.push(optionDict);
                    v.checked = checkStatus;
                });
                console.log('optionList: ', optionList);
                postData = JSON.stringify(optionList);
                console.log('channel option: ', postData);

                var uncheckAll = function () {
                    $('.choose_role').each(function (i, e) {
                        console.log(i, e);
                        var input = $(e);
                        input.prop('checked', false);
                    });
                };

                var checkTrueOnes = function (responseData) {
                    console.log('responseData: ', responseData);
                    $.each(responseData, function (i, e) {
                        var channelRole = e;
                        console.log('channelRoleInput', channelRole);
                        var cidRid = channelRole['cid-rid'];
                        console.log('cidRid', $(cidRid));
                        $(cidRid).prop('checked', true);
                    });
                };

                $.ajax({
                    url: '/admin',
                    type: 'POST',
                    data: postData,
                    contentType: 'application/json',
                    success: function (d) {
                        uncheckAll();
                        r = JSON.parse(d);
                        console.log('check roles 返回数据: ', r);
                        checkTrueOnes(r);
                    }
                });
            });
        };

        var onloadView = function () {
            var cookieList = document.cookie.split(';');
            console.log('cookie: ', cookieList);
            $.each(cookieList, function (i, e) {
                var data = e;
                var cidRidList = 'cid_rid_list';
                console.log('包含cid rid list:', data.indexOf(cidRidList) != -1);
                if (data.indexOf(cidRidList) != -1) {
                    var idStr = data.split('=')[1];
                    var idStrDecode = idStr.replace(/\\054/g, ',');
                    var idArray = eval('(' + idStrDecode + ')');
                    console.log('id array: ', idArray);
                    var idArrayJson = JSON.parse(idArray);
                    $.each(idArrayJson, function (i, e) {
                        var cidRid = e['cid-rid'];
                        console.log('cidRid: ', cidRid);
                        $(cidRid).prop('checked', true);
                    });
                } else {
                    console.log('other cookie: ', e)
                }
            });
        };

        var __main = function () {
            onloadView();
            addRole();
            addChannel();
            checkRoles();
        };

        $(document).ready(function () {
            __main();
        });
    </script>
{% endblock %}


{% block main_content_header_titles_admin %}
    {% if is_admin %}
        <li><a href="/channel/list" class="active">频道编辑</a></li>
        <li><a href="">用户列表</a></li>
    {% endif %}
{% endblock %}

{% block main_content_body %}
    <div class="templatemo-content-container">
    <div class="templatemo-content-widget white-bg">
        <h2 class="margin-bottom-10">管理频道和权限</h2>
        <hr>
        {% for c in channels %}
            <label class="control-label templatemo-block" style="margin-bottom: 10px;">{{ c.name }}</label>
            <div class="row form-group">
                <div class="col-lg-12 form-group">
                    {% for r in roles %}
                        <div class="margin-right-15 templatemo-inline-block">
                            <input id="id-{{ c.id }}-{{ r.id }}" class="choose_role" type="checkbox" name="{{ c.id }}"
                                   value="{{ r.id }}">
                            <label for="id-{{ c.id }}-{{ r.id }}" class="font-weight-400">
                                <span></span>{{ r.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <button id="id-button-role-for-channel" class="templatemo-blue-button">提 交</button>
        <hr>
        <fieldset>
            <textarea id="id-text-channel-name" name="name" class="form-control" placeholder="创建频道" required></textarea>
            <button id="id-button-create-channel" class="templatemo-blue-button float-right">创 建</button>
        </fieldset>
        <br>
        <fieldset>
            <textarea id="id-text-role-name" name="name" class="form-control" placeholder="增加角色" required></textarea>
            <button id="id-button-create-role" class="templatemo-blue-button float-right" type="submit">增 加</button>
        </fieldset>
    </div>
{% endblock %}