<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channels</title>
</head>
<body>
    <table class="pure-table">
        <thead>
            <tr>
                <th>频道</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody>
            {%  for c in channels %}
                <tr>
                    <td>{{ c.link | safe }}</td>
                    <td>{{ c.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>