<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>channel</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
    <div class="center">
        <h1>{{ channel.name }}</h1>
        <form action="/post/new" method="POST"  class="pure-form pure-form-aligned">
            <fieldset>
                <textarea class="text-link pure-input-1-2" placeholder="新帖子..." name="body"></textarea>
                <input type="hidden" name="channel_id" value="{{ channel.id }}">
                <button type="submit" class="button-submit pure-button pure-button-primary">提交</button>
            </fieldset>
        </form>
        <table class="pure-table">
        <thead>
            <tr>
                <th>帖子</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody>
            {%  for p in posts %}
                <tr>
                    <td>{{ p.link | safe }}</td>
                    <td>{{ p.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>