{% extends "base.html" %}


{% block title %}
    {{ post.name }}
{% endblock %}

{% block style %}
    <style type="text/css">
        .co-delete {
            position: inherit;
            float: right;
        }
        .co-time {
            color: gray;
            margin-top: 5px;
        }
        #id-text-post-time {
            margin-left: 6px;
        }
        #id-action-edit-post {
            margin-left: 10px;
            color: gray;
        }
        #id-hide-post-channel-id {
            display: none;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var appendNewComment = function(commentJson) {
            var c = commentJson;
            var commentHtml = (
                    `
                        <div>
                            <span>${ c.user_link }: ${ c.content }</span>
                            <a class="delete-comment" data-id=${ c.id } ">
                                <i class="fa fa-times co-delete"></i>
                            </a>
                            <p class="co-time">${ c.time }</p>
                            <hr>
                        </div>
                    `
            );

            var commentList = $('#id-comments');
            console.log('生成的comment html:', commentHtml);
            commentList.append(commentHtml);
        };

        var addComment = function () {
            $('#id-button-write-comment').on('click', function () {
                console.log('点击增加评论');
                var content = $('#id-text-comment-content').val();
                console.log('新评论内容: ', content);
                var post_id = $('#id-post-id').val();
                console.log('评论所属文章: ', post_id);
                var data = {
                    content: content,
                    post_id: post_id,
                };
                postData = JSON.stringify(data);
                console.log('postData: ', postData);
                $.ajax({
                    url: '/comment/add',
                    type: 'POST',
                    data: postData,
                    contentType: 'application/json',
                    success: function (d) {
                        commentJson = JSON.parse(d);
                        console.log('已加评论: ', commentJson);
                        console.log('c.id:',commentJson.id);
                        appendNewComment(commentJson);
                    }
                });
            });
        };

        var deleteComment = function() {
            $('#id-comments').on('click', 'a', function(){
                console.log('点击删除评论:', $(this));
                var comment_id = $(this).data('id');
                console.log('post_id: ', comment_id);
                comment = $(this).parentsUntil('#id-comments');
                console.log('选中父节点:', comment);
                $.ajax({
                    url: '/comment/delete/' + comment_id,
                    type: 'GET',
                    success: function (cid) {
                        console.log('已删评论id: ', cid);
                        comment.remove()
                    }
                });
            });
        };


        var editPostTemplate = function(post) {
            var p = post;
            var editPostHtml = (
                `
                    <div id="id-div-edit-post" class="row form-group">
                        <div class="col-lg-12 form-group">
                            <p>${ p.title }</p>
                            <textarea class="form-control" id="id-text-edit-post-content" rows="3" name="content">
                                <p>${ p.content }</p>
                            </textarea>
                            <p></p>
                            <button id="id-button-submit-edit-post" class="templatemo-blue-button float-right">保 存</button>
                        </div>
                    </div>
                `
            );
            return editPostHtml;
        };

        var editPost = function() {
            $('#id-action-edit-post').on('click', function() {
                var title = $('#id-text-post-title').data('title');
                var content = $('#id-text-post-content').data('content');
                var post = {
                    title: title,
                    content: content,
                };
                $('#id-text-post').hide();
                $('#id-textpost-editpost').append(editPostTemplate(post))
            });
        };

        var saveEditedPost = function() {
            var savePost = $('#id-button-submit-edit-post');
            var postDiv = $('#id-textpost-editpost');
            postDiv.on('click', savePost, function() {
                $('#id-div-edit-post').hide();
                var newContent = $('#id-text-edit-post-content').val();
                var postContent = $('#id-text-post-content');
                postContent.text(newContent);
                var p = $('#id-text-post');
                p.show();
            })
        };

        var __main = function () {
            addComment();
            deleteComment();
            editPost();
            saveEditedPost();
        };

        $(document).ready(function () {
            __main();
        });
    </script>
{% endblock %}

{% block main_content_body %}
    <div class="templatemo-content-container">
    <div class="templatemo-flex-row flex-content-row">
        <div id="id-textpost-editpost" class="templatemo-content-widget white-bg col-2">
            <div id="id-text-post">
                {% if is_admin or post.is_author(current_user) %}
                <a href="/post/delete/{{ post.id }}"><i class="fa fa-times"></i></a>
                {% endif %}

                <div class="square"></div>
                <h2 class="templatemo-inline-block" id="id-text-post-title" data-title="{{ post.title }}">{{ post.link | safe }}</h2>
                <hr>
                <p>
                    <span>{{ post.author_link | safe }} </span>
                    <span id="id-text-post-time">发表于: {{ post.time | formatted_time }}</span>
                    <span id="id-action-edit-post">编辑</span>
                </p>
                <p id="id-text-post-content" data-content="{{ post.content }}" >{{ post.content }}</p>
            </div>
        </div>
        <div id="id-comments" class="templatemo-content-widget white-bg col-2">
            {% for c in post.comment_list %}
                <div>
                    <span>
                        {{ c.user_link | safe }}: {{ c.content }}
                    </span>
                    {% if is_admin or c.is_author(current_user) %}
                        <a class="delete-comment" data-id="{{ c.id }}"><i class="fa fa-times co-delete"></i></a>
                    {% endif %}
                    <p class="co-time">{{ c.time | from_now }}</p>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if current_user is not none %}
        <fieldset class="col-lg-12 form-group">
            <label for="id-text-comment-content"></label>
            <textarea class="form-control" id="id-text-comment-content" rows="3" placeholder="添加评论..." name="content"
                      required></textarea>
            <input type="hidden" id="id-post-id" name="post_id" value="{{ post.id }}">
            <button id="id-button-write-comment" class="templatemo-blue-button float-right">评 论</button>
        </fieldset>
    {% endif %}
{% endblock %}