<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
    <p>{{ post.title }}</p>
    <p>{{ post.content }}</p>
    <p>{{ post.created_time }}</p>
    <p>{{ post.channel }}</p>
    {% for c in post.comment_list() %}
    <p>
        {{ c.user_link | safe }}: {{ c.content }}
        {% if is_admin or c.is_author(user) %}
        <a href="/comment/delete/{{ c.id }}">删除评论</a>
        {% endif %}
    </p>
    {% endfor %}
    {% if user is not none %}
        <form action="/comment/add" method="POST" class="pure-form pure-form-aligned">
            <fieldset>
                <textarea class="text-link pure-input-1-2" placeholder="添加评论..." name="content" required></textarea>
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button type="submit" class="button-submit pure-button pure-button-primary">提交</button>
            </fieldset>
        </form>
    {% endif %}
</body>
</html>