{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{#{% block head %}#}
{#    {{ super() }}#}
{#{% endblock %}#}

<body>
{% block body %}
    {{ super() }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block main_body %}
    <p>{{ user.username }}</p>
    <p>{{ user.id }}</p>
    <p>{{ user.role_id }}</p>
    <p>{{ user.note }}</p>
    <p>
        {% if show_update %}
            <a href="/admin/users/update/{{ user.id }}">编辑用户信息</a>
        {% endif %}
    </p>
    <p>
        <a href="/channel/list" class="primary-button pure-button">频道</a>
    </p>
{% endblock %}
</body>
